
.header {
    height: 100px;
    text-align: center;
    vertical-align: center;
    color: teal;
}

.description {
    text-align: center;
    height: 300px
}

.pets-section h1 {
    text-align: center;
    color: teal;
}

.photo-div {
    position: relative;
    width: 300px;
    height: 200px;
}

.photo-div img {
    position: absolute;
    right: 5%;
}

#default-photo {
    filter: blur(8px);
}
.coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    size: 20px;
    color: white;
    font-weight: bold;
}