{% extends 'index.html' %}

{% block title %}Add a Pet{% endblock %}

{% block content %}

    <h1>Add a Pet</h1>

    <form id="add-form" action="" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
            if field.widget.input_type != 'hidden' %}

        <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>

    </form>

{% endblock %}