{% extends 'index.html' %}

{% block title %}Edit Pet{% endblock %}

{% block content %}
    <h1 class="header pink">Edit {{ pet.name }}</h1>

    <div class="container">
        <form class="dark" id="add-form" action="/add" method="POST">
            <div class="row row-cols-sm-1 row-cols-md-2">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                    <div class="col">
                        {{ field.label }}
                        {{ field(class_="form-control") }}
                    </div>
                {% endfor %}
            </div>
            <br>
            <a href="/" class="light dark-bg btn-lg btn">Cancel</a>
            <button class="btn-lg btn submit-btn light" type="submit">Add</button>
        </form>
    </div>

{% endblock %}