{% extends 'index.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="container header">
        <h1>Best Friend Pet Adoption</h1>
    </div>

    <div class="container description">
        <h5>
            Our pets are waiting for the love and care they deserve, and in return you may just make a new best friend!
            <br>
            Find your perfect hiking partner, road-trip companion or snuggle buddy.
        </h5>
{#        <img src="https://picsum.photos/id/1012/367/267" alt="">#}
{#        <img src="https://images.unsplash.com/photo-1527362950785-f487a7c1fe48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=631&q=80" alt="">#}
    </div>

    <div class=" container pets-section">
    <h1>Meet our Pets!</h1>
    <div class="container" id="our_pets">
        <ul class="list-unstyled">
            {% for pet in pets %}
                <li class="media mb-2">
                    <div class="photo-div">
                        <img src="{{ pet.photo_url }}" class="img-thumbnail mw-100 mh-100" alt="..." id="profile-photo">
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ pet.name }}</h5>
                        <h6 class="mt-0 mb-1">Species: {{ pet.species }}</h6>
                        <h6 class="mt-0 mb-1">Age: {{ pet.age }}</h6>
                        <h6 class="mt-0 mb-1">About: {{ pet.notes }}</h6>
                        {% if pet.available == True %}
                            <span class="badge badge-light">Available for Adoption</span>
                        {% else %}
                            <span class="badge badge-light">Currently Unavailable</span>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>

    <div class="container buttons">
        <a href="/add" class="btn-lg btn-secondary">Add a Pet</a>
    </div>


{% endblock %}